body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
    text-align: center;
}

header img{
	width: 200px;
	margin-left:-1.5em;
	margin-top:-0.8em;
    margin-bottom: -1em;
    transition: all 0.1s ease-in-out;
}

header img:hover{
    transform: scale(0.95);
}

header img:active{
    transform: scale(0.9);
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

footer{
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav ul {
    
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display:inline-block;
    margin-right: 20px;
}

nav li:last-child {
margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: all 0.1s ease-in-out;
    margin-bottom: -1.5em;
    margin-left: -1em;
}

nav a:hover {
    background-color: #00000086;
    border-radius: 5px;
}

nav a:active {
    transform:scale(0.95);
}

main {
margin: 20px;
}
    
h2 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: -0.2em;
}

h3{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: -0.05em;
}

section

section p {
    font-size: 16px;
    line-height: 1.5;
}
    
section a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

section a:hover {
    background-color: #1bc55c;
    transform:scale(0.95)
}

section img{
    width: 40%;
    padding: 0.5em;
    border-radius: 20px;
    display: inline-block;
}

footer a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: -7px;
    margin-bottom: 0.5em;
    transition: all 0.4s ease-in-out;
    text-decoration: underline;
}

footer a:hover {
    background-color: #1bc55c;
    transform:scale(0.95);
    text-decoration: none;
}

/* Styles for smaller screens */
@media screen and (max-width: 600px) {
    header {
    padding: 10px;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }

    nav li:last-child {
        margin-bottom: 0;
    }
}